<% provide(:title, 'Camper: ' + @camper.full_name) %>


<h1><%= @camper.full_name %> <small>Camper</small></h1>
<div class="row">
  <div class="col-md-2">
    <strong>Active?</strong><br>
    <% if @camper.active? %>&#10004;<% end %>
  </div>
  <div class="col-md-2">
    <strong>Gender</strong><br>
    <%= @camper.gender %>
  </div>
  <div class="col-md-2">
    <strong>Birthdate</strong><br>
    <%= @camper.birthdate %>
  </div>
  <div class="col-md-3">
    <address>
      <strong>Email</strong><br>
      <a href="mailto:#"><%= @camper.email %></a>
    </address>
  </div>
  <div class="col-md-3">
    <strong>Parent</strong><br>
    <%= link_to @parent.full_name, parent_path(@parent) %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <strong>Medical Information &amp; Medication</strong><br>
    <%= @camper.medical %>
  </div>
  <div class="col-md-6">
    <strong>Dietary Restrictions &amp; Allergies</strong><br>
    <%= @camper.diet_allergies %>
  </div>
</div>

<h2>Registrations</h2>
<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <tr>
      <th>Year</th>
      <th>Grade</th>
      <th>Group</th>
      <th>Family</th>
      <th>Cabin</th>
    </tr>
    <% @regs.each do |reg| %>
      <tr>
        <td><%= reg.camp.year %></td>
        <td><%= reg.grade_completed %></td>
        <td><%= reg.group %></td>
        <td><%= reg.family %></td>
        <td><%= reg.cabin %></td>
      </tr>
    <% end %>
  </table>
</div>
