<% provide(:title, 'Parent: ' + @parent.full_name) %>


<h1><%= @parent.full_name %> <small>Parent</small></h1>
<div class="row">
  <div class="col-md-4">
    <strong>Email</strong><br>
    <a href="mailto:#"><%= @parent.email %></a>
  </div>
  <div class="col-md-4">
    <strong>Phone</strong><br>
    <%= @parent.phone_number %>
  </div>
  <div class="col-md-4">
    <strong>Address</strong><br>
    <%= @parent.street %><br>
    <%= "#{@parent.city}, #{@parent.state} #{@parent.zip}" %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <strong>Referral Method</strong><br>
    <%= @parent.referral_method %>
  </div>
  <div class="col-md-6">
    <strong>Referral Details</strong><br>
    <%= @parent.referral_details %>
  </div>
</div>

<h2>Campers</h2>
<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Birthdate</th>
      <th>Years Attended</th>
      <th>Status</th>
    </tr>
    <% @campers.each do |camper| %>
      <tr>
        <td><%= link_to camper.full_name, camper_path(camper) %></td>
        <td><%= camper.get_gender %></td>
        <td><%= camper.birthdate %></td>
        <td><%= camper.registrations.count %>
        <td><%= camper.get_status %></td>
      </tr>
    <% end %>
  </table>
</div>
